<div class="pages">
  <div class="left-part">
    <app-initswiper></app-initswiper>
    <div class="whats-new">
      <h2>What's New</h2>
      <div class="iwn-items">
        <app-nml-story-container></app-nml-story-container>

      </div>
    </div>
  </div>
  <div class="right-part">
    <div class="index-usermark-box">
      <h2>我的收藏</h2>
      <div class="ium-items" *ngFor="">
        <p></p>
      </div>
    </div>
    <div class="index-hotgroup-box">
      <h2>热门小组</h2>
      <div class="ihg-items" *ngFor="">
        <p></p>
      </div>
    </div>
    <div class="index-hottopic-box">
      <h2>热门主题</h2>
      <div class="iht-items" *ngFor="">
        <p></p>
      </div>
    </div>
  </div>
</div>