/* You can add global styles to this file, and also import other style files */
html{
    margin: 0;
    display: block;
    padding:0;
}
body{
    margin: 0;
    display: block;
    padding:0;
    background-color: rgba(240,240,233,.1)
}